* {
    font-family: 'Poppins', sans-serif;
}
:root {
    --black: #1f1f1f;
    --gray: #2e2e2e;
    --red: #db391f;
    --white: #e2e2e2;
}
header {
    display: grid;
    place-items: center;
}
header div {
    display: flex;
    align-items: center;
}
header img {
    width: 35px;
    padding: 10px;
}
header p {
    font-size: 25px;
    color: var(--red);
    letter-spacing: 1px;
}
body {
    background-color: var(--black);
}
.app {
    min-height: 400px;
    width: 600px;
    margin: 40px auto;
    padding: 20px 0;
}
#to-do-form input {
    background-color: var(--gray);
    border: 0;
    width: 400px;
    height: 50px;
    padding: 0 20px;
    margin: 20px;
    font-size: 16px;
    border-radius: 10px;
    outline: none;
    color: var(--white);
    letter-spacing: 1px;
}
#to-do-form input::placeholder {
    color: rgba(255, 255, 255, 0.534);
}
#to-do-form button {
    height: 50px;
    width: 100px;
    border-radius: 10px;
    border: 0;
    background-color: var(--gray);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: var(--white);
}
#to-do-form button:hover {
    background-color: var(--red);
}